{% extends "_base.html" %}

{% load custom_filters %}

{% block main %}

<div class="flex flex-col gap-8 items-start py-8 px-8">
    <div class="border-b w-full pb-8">
        <select name="select-class" id="select-class" onchange="updateChapters()" class="border rounded-xl text-slate-700 border-slate-300 p-4 min-w-[25ch] ">
            <option value=""> Select a class </option>
            {% for k in klasses %}
            <option value="{{k.id}}" class="text-slate-700" {% if k == klass %}selected{% endif %}>
                {{k.name}}
            </option>
            {% endfor %}
        </select>
    </div>
    
    <!-- Chapters -->
    <div class="flex flex-col gap-6 w-full sm:w-[40%] min-w-[40%]">
        {% for chapter in chapters %}
        <div class="chapter group border rounded-xl hover:border-blue-600">
            <div class="top-bar flex justify-between items-center px-6 py-4">
                <span class="">
                    <p class="font-extralight"> chapter {{forloop.counter}} </p>
                    <span class="text-xl font-medium">
                        {{chapter.name}}
                    </span>
                </span>
                <i class="arrow fa-solid fa-chevron-down"></i>
            </div>
            <div class="content hidden px-6 py-4">

                {% for sub_chapter in chapter|get_sub_chapters %}
                <div class="flex w-full justify-between overflow-hidden border rounded-xl mb-4">
                    <span class="p-4">
                        {{sub_chapter.name}}
                    </span>
                    {% comment %} <a download href="{{ sub_chapter.file_url }}" class="flex hover:bg-blue-100 px-6 items-center hover:text-blue-600"> {% endcomment %}
                    <a download href="{% url 'download_file' sub_chapter_id=sub_chapter.id %}" class="flex hover:bg-blue-100 px-6 items-center hover:text-blue-600">
                        <i class="fa-solid fa-download"></i>
                    </a>
                </div>
                {% endfor %}

            </div>

        </div>
        {% endfor %}
    </div>

</div>

<script>

// Assuming you have a URL
const fileUrl = 'https://firebasestorage.googleapis.com/v0/b/teachers-app-5dff3.appspot.com/o/sub_chapters%2Fstyle_gyTUIR1.css?alt=media&token=96c79491-2ec7-40da-9f3f-bfe48427c5ca';

// Use fetch to get the file content
fetch(fileUrl)
  .then(response => response.blob())
  .then(blob => {
    // Create a link element
    const link = document.createElement('a');

    // Set the link's href to a blob URL representing the file content
    link.href = URL.createObjectURL(blob);

    // Set the download attribute to suggest a filename for the downloaded file
    link.download = 'your_filename.txt';

    // Append the link to the document
    document.body.appendChild(link);

    // Trigger a click on the link to start the download
    link.click();

    // Remove the link from the document
    document.body.removeChild(link);
  })
  .catch(error => console.error('Error fetching the file:', error));


function updateChapters() {
    klassId = document.getElementById("select-class").value;
    var baseUrl = window.location.protocol + '//' + window.location.host;

    if (klassId){
        window.location.href = `${baseUrl}/courses/${klassId}/`;

    } else { window.location.href = `${baseUrl}/courses/`; } 
}

// Drawer
const chapters = document.getElementsByClassName("chapter");

for (let i = 0; i < chapters.length; i++) { 
    const question = chapters[i];

    let arrow = question.querySelector('.arrow')
    let topBar = question.querySelector('.top-bar')
    let p = question.querySelector('.content')

    function toggle(event) {
        if (p.style.display == "block") {  
            p.style.display = "none";
            arrow.style.transform = "rotate(0deg)";
            // topBar.style.padding = "0";
        } 
        else { 
            p.style.display = "block"; 
            arrow.style.transform = "rotate(-180deg)";
            // topBar.style.padding = "0 0 1rem 0";

        }
    }
    
    // btn.addEventListener('click', toggle);
    topBar.addEventListener('click', toggle);
}

</script>

{% endblock main %}