{% extends "_base.html" %}

{% load custom_filters %}


{% block head %}

    {% load static %}
    <script src="{% static "js/html2canvas.min.js" %}"></script>
    <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
{% endblock head %}

{% block main %}
<div class="px-8">

    {% comment %} <div class="flex justify-end p-4 mb-4 border-b">
        <button class="btn-primary" id="btn-download">
            Downlaod
        </button>
    </div> {% endcomment %}

    <div class="flex flex-col gap-8 items-start p-4">
        {% for student in student_list %}
            <!-- Question Sheet -->
            {% if test.answer_sheet_type == "SAME_TEST" %}
                {% include "MCQs/components/_simple_question_sheet.html" %}
            {% else %}
                {% include "MCQs/components/_shuffeld_question_sheet.html" %}
            {% endif %}
            
            <!-- Answer Sheet -->
            {% include "MCQs/components/_answer_sheet.html" %}

            <span class="border-b w-full border-slate-70"></span>
        {% endfor %}
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        window.jsPDF = window.jspdf.jsPDF;

        // Your JavaScript code here
        const questionSheets = document.querySelectorAll('.question-paper');
        const answerSheets = document.querySelectorAll('.answer-sheet');
        const boxes = document.querySelectorAll(".box");
        const subjects_pdf = new jsPDF();
        const sheets_pdf = new jsPDF();

        for (const box of boxes) {
            // box.style.position = "relative";
            box.style.top = "8px";
        }
        for (const [i, questionPaper] of questionSheets.entries()) {    
            html2canvas(questionPaper).then(canvas => {
                const image = canvas.toDataURL('image/png');
                const link = document.createElement('a');
                link.href = image;
                link.download = `sheet-${i+1}.png`;
                link.click();

            });
        }
        for (const [i, answerSheet] of answerSheets.entries()) {    
            html2canvas(answerSheet).then(canvas => {
                const image = canvas.toDataURL('image/png');
                const link = document.createElement('a');
                link.href = image;
                link.download = `sheet-${i+1}.png`;
                link.click();

            });
        }

        for (const box of boxes) {
            box.style.top = "initial";
        }

    });

</script>

{% endblock main %}
