{% extends "_base.html" %}
{% load static %}


{% block head %}

  <script src="{% static "js/dropzone.min.js" %}"></script>
  <link rel="stylesheet" href="{% static "css/dropzone.min.css" %}" type="text/css" />

{% endblock head %}

{% block main %}
  {% comment %} 
  <style> 
     .main { 
       height: var(--full-height);
       max-height: var(--full-height); 
     } 
  </style> 
  {% endcomment %}
  

  <div class="main relative p-8 flex flex-col h-full gap-4">
    <div class="border-b border-slate-200 pb-4 flex gap-4">
      <a class="btn-secondary inline-block" href="{% url "download_test" test_id=test.id %}">Download the test</a>
      <a class="btn-secondary inline-block !border-red-400 !text-red-400 hover:bg-red-400 hover:!text-white"
       href="{% url "delete_test" test_id=test.id %}">
       Delete test
      </a>
    </div>

    <div class="py-8">
      <p class="text-slate-400"> • Capture images of completed answer sheets and upload them here for automatic grading by our AI model.</p>
      <p class="mt-4 text-brand"> • Make sure to capture the face shot with minimal angles.</p>
      <p class="text-brand"> • Ensure the four corner markers are fully visible.</p>

      <div class="flex w-full gap-8 py-4 flex-col sm:flex-row">
        <div class="relative sm:w-[45%] max-w-[300px]">
          <img src="{% static "images/example_answersheet_correct.jpg" %}" alt="" class="h-full border border-green-400 rounded-lg">
          <i class="fa-regular fa-circle-check text-4xl absolute bottom-4 left-4 text-green-400"></i>
        </div>
        <div class="relative sm:w-[45%] max-w-[300px]">
          <img src="{% static "images/example_answersheet_incorrect.jpg" %}" alt="" class="h-full border border-red-400 rounded-lg">
          <i class="fa-regular fa-circle-xmark text-4xl absolute bottom-4 left-4 text-red-400"></i>
        </div>
      </div>
    </div>
    <div class="flex justify-end items-center text-slate-400 mb-4">
      <form method="post">
        {% csrf_token %}
        <button class="btn-primary" name="generate_grades" onclick="loadingScreen()">Generate Notes</button>
      </form>
    </div>
    
    <!-- <form id="my-awesome-dropzone" action="{% url "checkout_test" test_id=test.id%}" class="dropzone !p-0 !border-slate-400 !border-dashed rounded-xl overflow-hidden h-full"> -->
    <form id="my-dropzone" action="{% url "checkout_test" test_id=test.id%}" class="dropzone !p-0 !border-slate-400 !border-dashed rounded-xl overflow-hidden h-full">
      {% csrf_token %}
      <div class="dz-message !m-0 flex flex-col py-24  gap-4 justify-center items-center h-full bg-slate-50" data-dz-message>
          <span class=" text-slate-400 relative">
            <i class="fa-regular fa-circle-up absolute text-2xl text-white right-[50%] bottom-3 bg-slate-400 rounded-full translate-x-[50%]"></i>
            <i class="fa-regular fa-folder text-6xl"></i>
          </span>
          <h1 class="text-2xl font-medium text-slate-500">
            Upload answer sheets
          </h1>
          <span class="text-slate-400 text-sm">Drag-&-drop a folder containing all the answer sheets.</span>
          <span class="text-slate-500 text-sm">Or</span>
          <span class="btn-primary cursor-pointer">Select files</span>
      </div>
    </form>
    <div id="loading_popup" class="
        absolute flex-col {% if test.status == "ANALIZING" %} flex {% else %} hidden {% endif %}
        justify-center items-center top-0 left-0 w-full h-full gap-8 bg-white
    ">
      <div role="status">
        <svg aria-hidden="true" class="inline w-10 h-10 text-gray-200 animate-spin fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
            <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
        </svg>
        <span class="sr-only">Analyzing...</span>
      </div>
      <span class="text-lg text-slate-700">
        Scanning answer sheets. It's going to take time.
      </span>
    </div>
  </div>


  <script>
    function loadingScreen(params) {
      document.getElementById("loading_popup").style.display = "flex";
      document.getElementById("my-dropzone").style.display = "none";
    }
  </script>
{% endblock main %}
