{% extends "_base.html" %}

{% load custom_filters %}


{% block head %}

{% endblock head %}


{% block main %}
<style>
    body{
        background-color: #141020;
        color: white;
    }
</style>
<div class="main px-8 lg:px-16 py-8">
    <h1 class="text-4xl font-semibold pb-4">CGV</h1><p><strong>Politique relative aux Émipoint</strong></p>
    
    <p><strong>La présente Politique relative aux Émipoint s’applique aux utilisateurs résidant dans l’Espace économique européen.</strong></p>
    
    <p><strong>Vous devez être âgé(e) d’au moins 18&nbsp;ans pour acheter et utiliser des Émipoint sur la Plateforme.</strong></p>
    
    <p>La présente Politique relative aux Émipoint («&nbsp;<strong>Politique relative aux Émipoint</strong>&nbsp;») énonce les conditions qui régissent l’achat et l’utilisation de Émipoint sur la Plateforme. L’achat et l’utilisation de Émipoint sur la Plateforme sont entièrement optionnels.</p>
    
    <p>Les termes commençant par une majuscule qui ne sont pas définis dans la présente Politique relative aux Émipoint ont la signification qui leur est donnée dans nos&nbsp;Conditions Générales d’Utilisation&nbsp;et notre&nbsp;Politique relative aux Récompenses. Nos&nbsp;Conditions Générales d'Utilisation&nbsp;s’appliquent à votre achat et à votre utilisation de Émipoint sur la Plateforme et notre&nbsp;Politique de confidentialité&nbsp;décrit la manière dont nous traitons vos données à caractère personnel.</p>
    
    <p>&nbsp;</p>
    
    <p><strong>1. Que sont les Émipoint et comment pouvez-vous les utiliser&nbsp;?</strong></p>
    
    <p>Les Émipoint sont des Articles Virtuels qui peuvent être achetés par les utilisateurs de la Plateforme («&nbsp;<strong>Émipoint</strong>&nbsp;»). Les Émipoint peuvent être utilisées sur la Plateforme uniquement pour activer ou accéder à d’autres Articles Virtuels ou services mis à disposition sur la Plateforme à tout moment.</p>
    
    <p>Le nombre de Émipoint nécessaires pour activer ou accéder à des Articles Virtuels sera affiché au préalable, ainsi vous pourrez vérifier le nombre de Émipoint dont vous avez besoin avant d’en acheter. Lorsque vous achetez des Émipoint, le prix d’un émipoint varie en fonction du nombre acheté en une seule fois, et de l’endroit où vous les achetez. Lorsque vous achetez des Émipoint, nous vous indiquons clairement le prix total des Émipoint. Vous pouvez suivre vos dépenses en Émipoint et la façon dont vous les utilisez pour accéder à des Articles Virtuels, à l’aide des outils suivants&nbsp;:</p>
    
    <ul>
        <li>Le nombre total de Émipoint sur votre compte sera mis à jour chaque fois que vous achetez des Émipoint ou que vous les échangez contre des Articles Virtuels.</li>
    </ul>
    
    <ul>
        <li>Dans la section «&nbsp;Mes émipoints&nbsp;» vous pouvez également consulter votre «&nbsp;Historique de Émipoint&nbsp;» qui vous montre comment vous avez utilisé les Émipoint sur la Plateforme.</li>
    </ul>
    
    <p><strong><em>Utiliser des Émipoint pour activer des Cadeaux</em></strong></p>
    
    <p>Les Cadeaux sont des Articles Virtuels qui peuvent être activés à l’aide de Émipoint.</p>
    
    <p>Vous pouvez envoyer des Cadeaux pour interagir avec du contenu sur la Plateforme et montrer que vous l’appréciez, conformément à nos&nbsp;Conditions Générales d'Utilisation. Lorsque vous envoyez un Cadeau, les autres utilisateurs de la Plateforme peuvent voir votre nom d’utilisateur et les détails du Cadeau que vous avez envoyé. En envoyant des Cadeaux, vous ne transférez pas d’argent à d’autres utilisateurs de la Plateforme. Le type et le nombre de Cadeaux envoyés sont un facteur utilisé par Émia pour estimer la popularité d’un contenu utilisateur lors de l’attribution de Diamants aux créateurs de ce contenu, aux côtés d’autres facteurs qui peuvent s’appliquer en fonction du Programme, tels que la durée ou la fréquence de ce contenu. Les Diamants peuvent être utilisés pour recevoir de l’argent auprès de Émia conformément à notre&nbsp;Politique relative aux Récompenses.</p>
    
    <p>Étant donné que les Cadeaux sont automatiquement activés avec effet immédiat, ils ne sont ni remboursables ni échangeables contre des Émipoint ou de l’argent.</p>
    
    <p><strong>2. Comment acheter des Émipoint?</strong></p>
    
    <p>Pour achetez vos Émipoint, vous devez&nbsp;:</p>
    
    <p>·&nbsp; être un utilisateur enregistré de la Plateforme&nbsp;; et</p>
    
    <p>·&nbsp; avoir au moins 18&nbsp;ans. Nous pouvons refuser votre demande d’achat de Émipoint si nous avons des raisons de penser que vous êtes mineur(e).</p>
    
    <p>&nbsp;</p>
    
    <p>Si vous achetez des Émipoint directement auprès de Émia, par exemple via l’Application Web, les conditions suivantes s’appliquent&nbsp;:</p>
    
    <ul>
        <li>Le prix total que vous devrez payer pour les Émipoint sera affiché au moment de l’achat. Nous afficherons le prix total sur la page où les Émipoint sont mises en vente.</li>
    </ul>
    
    <ul>
        <li>Les Émipoint seront chargées sur votre compte dès que nous aurons reçu votre paiement.</li>
    </ul>
    
    <ul>
        <li>Nous faisons toujours de notre mieux pour nous assurer que votre compte est crédité du bon nombre de Émipoint. Cependant, si pour une raison quelconque, votre compte n’a pas été crédité du bon nombre de Émipoint, nous vous contacterons et corrigerons l’erreur dès que possible.</li>
    </ul>
    
    <ul>
        <li>Si votre moyen de paiement est refusé, votre commande sera automatiquement annulée. Nous ne saurions être tenus responsables des problèmes entre vous et l’émetteur de votre carte, votre banque ou tout autre prestataire de services de paiement.</li>
    </ul>
    
    <p><strong><em>Droits de rétractation, remboursements et garanties</em></strong></p>
    
    <p>Si vous avez acheté des Émipoint directement auprès de Émia, par exemple via l’Application Web, nous ne vous les rembourserons pas, sauf si la législation en vigueur dans votre pays nous l’impose, et sauf si les Émipoint sont défectueuses.</p>
    
    <p>Si vous résidez dans l’EEE ou au Royaume-Uni, vous avez certains droits de rétractation à l’égard des achats en ligne, en vertu des lois relatives à la protection des consommateurs. Si vous avez acheté des Émipoint directement auprès de Émia&nbsp;:</p>
    
    <ul>
        <li>Vous disposez d’un délai de rétractation de 14&nbsp;jours pour annuler votre achat de Émipoint et demander un remboursement, à compter du lendemain de votre achat de Émipoint («&nbsp;<strong>Délai de rétractation</strong>&nbsp;»). Vous n’avez aucune raison à donner pour demander un remboursement.</li>
    </ul>
    
    <ul>
        <li>Vous ne pourrez pas demander de remboursement (i) après le Délai de rétractation ou (ii) pour des Émipoint que vous avez utilisées pendant le Délai de rétractation.</li>
    </ul>
    
    <ul>
        <li>Pour annuler votre achat de Émipoint, veuillez contacter notre service client&nbsp;et nous fournir l’identifiant de transaction de l’achat que vous souhaitez annuler.</li>
    </ul>
    
    <ul>
        <li>Si vous annulez votre achat, nous vous rembourserons le paiement que nous avons reçu de votre part pour les Émipoint. Les remboursements sont effectués avec le mode de paiement initial et vous devez compter jusqu’à 7&nbsp;jours ouvrables avant qu’ils n’apparaissent sur votre compte, selon le mode de paiement utilisé pour effectuer l’achat. Émia ne vous facturera aucun frais pour le remboursement.</li>
    </ul>
    
    <p>&nbsp;</p>
    
    <p><strong>3. Vos droits</strong></p>
    
    <p>Nous vous donnons l’autorisation (appelée «&nbsp;licence&nbsp;») d’utiliser des Émipoint et des Articles Virtuels pour votre usage personnel sur la Plateforme. Cela signifie que vous n’avez aucun droit ni titre sur les Émipoint ou les Articles Virtuels, à l’exception de ce qui est prévu expressément par la présente Politique relative aux Émipoint. Il vous est interdit d’acheter, de vendre ou d’échanger des Émipoint ou des Articles Virtuels en dehors de la Plateforme, ou de tenter de vendre, donner ou échanger des Émipoint ou des Articles Virtuels, sauf cas expressément autorisé par la présente Politique relative aux Émipoint.</p>
    
    <p>Les Émipoint n’ont pas de date d’expiration. Pour des raisons juridiques, réglementaires ou commerciales, nous pourrions décider de cesser de proposer des Émipoint ou des Articles Virtuels à certaines catégories d’utilisateurs, ou dans certains pays ou régions, ou nous pourrions décider de cesser complètement de proposer des Émipoint ou des Articles Virtuels. Le cas échéant, et si vous êtes concerné(e), nous vous le notifierons suffisamment à l’avance. Dans cette notification , nous vous indiquerons le délai dont vous disposerez pour utiliser les Émipoint restantes sur votre compte<em>.</em></p>
    
    <p>Nous pouvons résilier ou suspendre votre droit d’acheter ou d’utiliser des Émipoint, ou d’accéder aux Articles Virtuels, immédiatement et sans préavis, si nous avons une raison légitime de le faire, y compris en cas de violation grave ou répétée de votre part de nos Conditions Générales d'Utilisation ou des Règles communautaires. Si vous pensez que nous avons commis une erreur à cet égard, vous pouvez, le cas échéant, soit suivre les instructions pour faire une réclamation qui figurent dans la notification de violation des Règles communautaires, ou nous contacter.</p>
    
    <p>Si votre compte sur la Plateforme est résilié pendant le Délai de rétractation d’un achat de Émipoint, vous pourrez demander un remboursement pour toutes les Émipoint non utilisées, comme indiqué dans le paragraphe&nbsp;<em>Droits de rétractation, remboursements et garanties</em>&nbsp;à l’article&nbsp;2 ci-dessus. Dans le cas contraire, vous n’aurez droit à aucun remboursement pour les Émipoint inutilisées. Nous vous encourageons donc, dans la mesure du possible, à utiliser vos Émipoint avant de ne plus avoir accès à votre compte sur la Plateforme.</p>
    
    <p>&nbsp;</p>
    
    <p>&nbsp;</p>
    
    <p><strong>Politique de confidentialité</strong></p>
    
    <p><strong>Informations que vous fournissez</strong></p>
    
    <ul>
        <li><strong>Les informations relatives à votre profil.&nbsp;</strong>Nous recueillons les informations que vous fournissez lorsque vous créez un compte, telles que votre date de naissance, votre nom d’utilisateur, votre adresse e-mail et/ou votre numéro de téléphone, ainsi que votre mot de passe. Vous pouvez ajouter d’autres informations à votre profil, telle qu’une biographie ou une photo de profil.</li>
        <li><strong>Les messages directs.</strong>&nbsp;Si vous communiquez avec d’autres personnes au moyen de messages directs, nous recueillons le contenu du message et les métadonnées associées (telles que l’heure à laquelle le message a été envoyé, reçu et/ou lu, ainsi que les participants à la communication).</li>
        <li><strong>Les informations sur les achats.</strong>&nbsp;Lorsque vous effectuez un achat ou un paiement sur ou par le biais de la Plateforme, notamment lorsque vous achetez des émipoint, nous recueillons des informations concernant la transaction d’achat ou de paiement, comme les informations relatives à la carte de paiement, l’adresse de facturation, l’adresse de livraison et les coordonnées, ainsi que les produits que vous avez achetés.</li>
    </ul>
    
    <p><strong>Manières dont nous utilisons vos informations</strong></p>
    
    <p>Nous utilisons vos informations pour exploiter, fournir, développer et améliorer la Plateforme, notamment aux fins suivantes. Vous trouverez plus de détails à la section «&nbsp;Nos bases juridiques et la manière dont nous traitons vos informations&nbsp;».</p>
    
    <ul>
        <li>Proposer nos fonctionnalités d’achat et faciliter l’achat et la livraison des produits, biens et services, notamment le partage de vos informations avec les vendeurs, les prestataires de paiement et d’exécution de transactions et autres prestataires de services, dans le but de traiter vos commandes.</li>
        <li>Maintenir et améliorer la sûreté, la sécurité et la stabilité de la Plateforme en identifiant et en traitant les questions ou problèmes techniques ou de sécurité (tels que les bugs techniques, les comptes de spam et la détection des abus, des fraudes et des activités illégales).</li>
        <li>Se conformer à nos obligations légales ou, dans la mesure où cela est nécessaire, pour exécuter des tâches d’intérêt public ou pour protéger les intérêts vitaux de nos utilisateurs et d’autres personnes.</li>
    </ul>
    
    <p>&nbsp;</p>
    
    <p>&nbsp;</p>
    
    <p>Information commerçant&nbsp;:</p>
    
    <p>Nom commerçant&nbsp;: Kaci samuel</p>
    
    <p>Adresse&nbsp;: 30 rue henriette savaete, 93360 neuilly-plaisance</p>
    
    <p>Marque utilisée&nbsp;: émia</p>
    
    <p>Mail&nbsp;: <a href="mailto:emia.contact@yahoo.com">emia.contact@yahoo.com</a></p>
    
    <p>Tel&nbsp;: 064294247</p>
    
    <p>&nbsp;</p>
    
    <p>&nbsp;</p>
    
    <p>&nbsp;</p>
    
</div>



{% endblock main %}
